:root {
  font-family: Lato;
  line-height: 1.4;
  font-size: 1.1em;
  font-weight: 600;
  color: var(--fontColor_pri);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color_accent: #333;

  --background: #fffcee;
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

  --fontColor_pri: rgb(22, 21, 21);
  --fontColor_sec: rgb(238, 227, 227);
  --font: Lato;
  --font_title: Secular One;

  --menu_size: 120px;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background);
  text-align: center;
  font-family: var(--font);
}

/* content */
.page {
  margin: 0;
  padding: 1em;
  padding-top: 7em;
  width: calc(100% - 2em);
  min-height: 90vh;
  height: auto;
}

.title {
  text-align: center;
  font-size: 3.8em;
  font-weight: bold;
  color: var(--color_accent);
  font-family: var(--font_title);
}

.big-title {
  text-align: center;
  font-size: 6em;
  font-weight: bold;
  color: var(--color_accent);
  font-family: var(--font_title);
}

.subtitle{
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  font-family: var(--font_title);
  color: var(--fontColor_pri);
}

.home-text {
  color: var(--fontColor_pri);
  font-size: 1.5em;
  font-weight: 600;
  padding-left: 2em;
  padding-right: 2em;
}

.btn {
  width: auto;
  height: auto;
  margin-top: 8em;
  padding: 16px;
  padding-left: 3em;
  padding-right: 3em;
  font-size: 1.2em;
  font-weight: 600;
  color: var(--fontColor_sec);
  border-radius: 5px;
  border: none;
  background-color: var(--color_accent);
  box-shadow: var(--shadow);
  cursor: pointer;
}

.div-big-brand {
  width: auto;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em 2em;
}

.big-logo {
  width: 256px;
  height: auto;
  border: 8px solid var(--color_accent);
  border-radius: 50%;
}

/* Faq */
.align-faq {
  width: 90%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em 2em;
}

.text-question{
  font-size: 1.6em;
  font-weight: 600;
  cursor: pointer;
}

.text-answer {
  visibility: hidden;
  font-size: 2em;
  font-weight: 600; 
  padding: 3em;
  transition: 400ms;
}

footer {
  background-color: #333;
  width: calc(100% - 2em);
  height: 24px;
  padding: 1em;
  margin: auto;
  display: flex;
  justify-content: space-around;
  position: relative;
}

footer a, footer i {
  color: var(--fontColor_sec);
  text-decoration: none;
}

@media screen and (max-width: 1250px) {
  .big-title {
    font-size: 3em;
  }
  .title {
    font-size: 2em;
  }
  .subtitle {
    font-size: 1.2em;
  }

  .page {
    margin: 0;
    padding: 4px;
    padding-top: 4em;
    width: calc(100% - 8px);
  }

  .big-logo {
    width: 160px;
  }

  .btn {
    font-size: 1em;
  }
}


@media screen and (max-width: 750px) {
  .page {
    padding-top: 3em;
  }

  .btn {
    margin-top: 4em;
  }

  .div-big-brand {
    flex-direction: column;
  }

  .home-text {
    font-size: 1.1em;
  }

  .text-answer {
    font-size: 1.3em;
  }

  .text-question {
    font-size: 1.1em;
  }
}